{% extends 'tienda/base.html' %}
{% load static %}
{% load humanize %}

{% block titulo %}Productos{% endblock %}

{% block contenedor %}

    <h1>Productos</h1>
    <a class="btn btn-success" href="{% url 'productos_form' %}">Agregar</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Inventario</th>
                <th>Fecha de Creación</th>
                <th>Categoría</th>
                <th>Operaciones</th>
            </tr>
        </thead>
        <tbody>
            {% for r in data %}
                <tr>
                    <td>{{ r.id }}</td>
                    <td>{{ r.nombre }}</td>
                    <td class="text-end">${{ r.precio|floatformat:0|intcomma }}</td>
                    <td>{{ r.inventario }}</td>
                    <td>{{ r.fecha_creacion }}</td>
                    <td>{{ r.categoria }}</td>
                    <td>
                        <a class="btn btn-danger" href="javascript:eliminar('{% url 'productos_eliminar' r.id %}')">Eliminar</a>
                        <a class="btn btn-info" href="{% url 'productos_formulario_editar' r.id %}">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>

{% endblock %}